.filterContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;

  .breedSelectContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 1rem;
    gap: 1rem;
  }

  .breedSelect {
    max-height: 100px;
    width: 70%;
  }

  .sortSelect {
    width: 15%;
  }
  .applyButton {
    width: 5%;
    border: none;
    cursor: pointer;
  }
}
